/*@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*/
body
{
	--pagewidth:100%;
	font-family: "Cascadia Code", "Source Code Pro", "Courier New", Courier, monospace;
	color: lightgray;
	/*background-color: #232323;*/
	background-image: linear-gradient(#181818, #303030);
	/*font-family: 'Press Start 2P', cursive;*/
}

.hidden
{
	display:none;
}

*::-moz-selection { /* Code for Firefox */
	color: #dfdfdf;
	background: darkslategray;
	font-family: 'Press Start 2P', cursive;
}
  
*::selection {
	color: #dfdfdf;
	background: darkslategray;
	font-family: 'Press Start 2P', cursive;
}

button
{
	color:#dddddd;
	background-color:#505055;
	transition: 150ms;

}

button:hover
{
	background-color: #606065;
	transition: 150ms;
}

button:active
{
	color:#eeeeee;
	transition: 150ms;
}

h1
{
	font-family: 'Press Start 2P', cursive;
}

nav
{
	--navwidth: 95%;
	margin-left: calc((var(--pagewidth) - var(--navwidth)) / 2);
	margin-right: calc((var(--pagewidth) - var(--navwidth)) / 2);
	width: var(--navwidth);

	display:block;
	border: gray solid 1px;
	border-radius: 5px;
	margin-bottom: 20px;
	position:sticky;
	width: var(--navwidth);

	top:2px;
	margin-top: 0%;

	background-color: #151515;

	font-size: larger;
	font-weight: bolder;


	font-family: 'Press Start 2P', cursive;

	padding: 8px;
}

a
{
	color:green;
}

a:hover, a:active
{
	color:greenyellow;
}

nav a
{
	text-decoration: none;
	margin-right: 3%;
	display:inline-block;
}

main article
{
	--articlewidth: 80%;
	margin-left: calc((var(--pagewidth) - var(--articlewidth)) / 2);
	margin-right: calc((var(--pagewidth) - var(--articlewidth)) / 2);
	margin-bottom: 30px;
	width: var(--articlewidth);
	padding: 10px;

	background-color: #151515;
	border:#cccccc solid 1px;
	border-radius: 3px;

	box-shadow: 6px 6px 6px 6px #131313;
}

.Time
{
	color:purple;
}


main article table
{
	border:solid 1px #cccccc;
	border-radius: 3px;
	margin-left: calc((var(--pagewidth) - var(--articlewidth)) / 2);
	margin-right: calc((var(--pagewidth) - var(--articlewidth)) / 2);
	width: var(--articlewidth);
}

main article table tr td
{
	border:solid 1px #cccccc;
	width:min-content;
	height: min-content;
}


main article table tr
{
	border:solid 1.5px #cccccc
}

main article table thead
{
	font-size: large;
}

main article table th
{
	font-size: larger;
	font-weight: bold;
	border:solid 1.5px #cccccc;
}


hr
{
	width: 85%;
	margin-left: 7.5%;	
	margin-right: 7.5%;
	margin-bottom: 3.8%;
}



#atlagszamito ul
{
	height:200px;
	overflow-y: scroll;
	display:inline-block;
	width: 150px;
}


#galeria
{
	display:grid;
	justify-content: center;
	justify-items: center;
	gap:10px;

	grid-template-columns: repeat(10, 60px);
	/*grid-template-rows: repeat(7, 30px);*/
}

/*#galeria div
{
	width : 60px;
	line-height : 30px;
	text-align: center;
	
	border-radius: 5px;
	color:#dddddd;

	font-weight: 700;
	border: 1px solid #cccccc;
}*/

.kekbusz, .pirosbusz, .feketebusz
{
	width : 60px;
	line-height : 30px;
	text-align: center;
	
	border-radius: 5px;
	color:#dddddd;

	font-weight: 700;
}

.kekbusz
{
	background-color: #009FE3;
}

.pirosbusz
{
	background-color: #e41f18;
}

.feketebusz
{
	background-color: black;
	border: 1px solid #cccccc;
}

main article p div
{
	display:inline;
}

main article p
{
	letter-spacing: 1.5px;
}

#sziauramkep
{
	font-size: larger;
	border: 1px solid #cccccc;
	padding: 7px;
	border-radius: 5px;
}

#sziauramkep img
{
	width:100px;
	float :left;
	margin:5px 5px 5px 5px;
	border: 1px #606060 solid;
}
